<section>
    <div class="day">
        <p class="selected">{{selectedDay | date : 'EEEE d'}}</p>

        <div class="content">

        </div>
    </div>
    <div class="times">
        
        @for (slot of timeSlots(); track $index) 
        {           
            <div class="time" [class.mid-item]="!slot.clickable">
                <p class="hour">{{slot.time}}</p>
                @if(validProperty(slot.time)){

                    @for (item of getAppointments()[keyDate!][slot.time]; track $index) {
                        <div class="appointment">
                            
                            <p 
                                (click)="onAppointmentClick(item)" 
                                [style.height]="item.range * 15 + 'px'">
                                {{item.title}}
                            </p>

                        </div>
                    }
                }
                
            </div>
        }
    </div>

</section>